.profile-container {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: var(--elevation-4);

  .ant-tabs-top > .ant-tabs-nav:before {
    border-bottom: none;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--bri-primary);
  }

  .ant-tabs-ink-bar {
    background: var(--bri-primary);
  }

  .user-profile {
    max-width: 640px;
    margin: 0 auto;
    padding: 24px 0;

    .avatar-container {
      gap: 8px;

      .title {
        color: var(--bri-primary);
      }

Ø      &:hover {
        .title {
          text-decoration: underline;
        }
      }
    }
  }
}
