.case-details__markers {
  max-height: 556px;

  .wrapper-section__content {
    min-height: unset;
    height: calc(100% - 16px - 28px - 16px);

    .wrapper-section__body {
      height: 100%;
      display: flex;
      flex-direction: column;

      .case-details__markers-list {
        flex-grow: 1;
        height: calc(100% - 32px - 8px);
      }
    }
  }
}
